---
title: Startseite
---

<main>

	<header>
		{{>logo}}
		{{>stage_main}}
	    {{>navigation_main}}
	</header>

	<section>
		{{>teaser}}
		{{>teaser}}
		{{>teaser}}
		{{>teaser}}
		{{>teaser}}
	</section>

</main>