nav {

	@include breakpoint(small) {
		padding: 20px 30px;
	}

	
	
	a {
		font-weight: bold;
		font-size: 17px;
		line-height: 18px;
		color: $base-text-color;
		text-decoration: none;

		padding: 7px 12px 18px 12px;

		&:hover {
			color: $base-link-hover-color;
		}

		&:first-child {
			padding-left: 0;
		}


		display: block;

		@include breakpoint(small) {
			display: inline-block;
		}

	}
}